h2 {
    font-size:2em;
    margin-bottom:.25em;
    line-height:1.2em;

    @media screen and (min-width:768px) {
        font-size:2.25em;
    }
}

p {
    font-size:1.35rem;

    @media screen and (min-width:768px) {
        font-size:1.5em;
    }
}

h1,
p.heading {
    color:$white;
    font-size:2em;
    font-weight:normal;
    line-height:1.1em;
    margin:0 auto;
    width:90%;
    max-width:500px;

    > span:before {
        content:'';
        width:40px;
        height:20px;
        display:block;
        border-top:2px solid $white;
    }

    @media screen and (min-width:375px) {
        font-size:2.4em;
    }

    @media screen and (min-width:600px) {
        font-size:3.625em;

        &:before {
            height:40px;
        }
    }

    &.heading--split {

        span:before {
            display:none;
        }

        @media screen and (min-width:600px) {
            font-size:2.4em;
        }

        @media screen and (min-width:1024px) {
            font-size:3em;
        }

        .right & {
            span {
                &:before {
                    display:none;
                }
            }
            @media screen and (min-width:600px) {
                font-size:3.625em;
            }
        }
    }

    @media screen and (orientation:landscape) and (max-width:768px) {
        font-size:2em;
    }
}

p.fullsize {
    font-size:2em !important;

    @media screen and (min-width:375px) {
        font-size:2.4em !important;
    }

    @media screen and (min-width:600px) {
        font-size:3.625em !important;
    }
}

p.heading--split {
    color:$black;
    max-width:none;

    span {
        display:block;
        &.white {
            color:$white;
        }
    }

    @media screen and (min-width:768px) {
        span {

            &:before {
                display:none;
            }

            .left & {
                &:first-child {
                    font-size:.6em;
                    display:block;
                    line-height:1.2em;
                }
            }
        }
    }
}
