$space: 10px;
$base-font-size: 16px;

$palettes: (

);

$z-index: (

);

$fallback: Helvetica, Arial, sans-serif;
$regular: '', $fallback;
$reg: $regular;

// BREAKPOINTS
$hi-res: min-resolution 1.5dppx;
$mobile-wide: 480px;
$tablet-narrow: 720px;
$tablet-wide: 1024px;
$laptop: 1200px;
$desktop: 1600px;

// COLORS
$white:          #FFFFFF;
$black:          #000000;
$grey:           #F1EEDF;
$grey-darker:    #54565b;
$purple:         #4C2F48;
$orange:         #E65400;
