.fixed-img {
    width:100vw;
    height:100vh;
    position:absolute;
    z-index:-1;

    @media screen and (min-width:1025px) {
        display:none;
    }

    .bgwidth {
        width:100%;
    }

    .bgheight {
        height:100%;

        position:relative;
        right:50%;
        transform:translateX(-15%);
    }
}
