.logo a {
    display:block;
    background:url(../images/logo.png) 0 0 no-repeat;
    background-size:100% auto;
    width:215px;
    height:58px;
    margin:0 auto 10px auto;
    text-indent:-9999px;
    overflow:hidden;
}
