.panorama {
    position:relative;

    a {
        cursor:pointer;
        position:absolute;
        top:50%;
        text-indent:-9999px;

        &:before {
            content:'';
            display:block;
            width:25px;
            height:25px;
            border-top:2px solid $white;
            border-right:2px solid $white;
            opacity:.5;
            transition:.3s opacity;
        }

        &:hover {
            &:before {
                opacity:1;
            }
        }

        &.left {
            left:5%;

            &:before {
                transform:rotate(-135deg);
            }
        }

        &.right {
            right:5%;

            &:before {
                transform:rotate(45deg);            }
        }
    }
}
