.section {
    &--two-col {
        background:$grey;

        > div {
            &:last-child {
                width:100%;
                height:350px;

                img {
                    max-width:100%;
                }

                @media screen and (min-width:768px) {
                    float:left;
                    width:58.3333%;
                }
            }
        }

        &.section--video {
            > div {
                &:last-child {
                    width:100%;
                    height:400px;

                    @media screen and (min-width:768px) {
                        float:left;
                        width:58.3333%;
                    }
                }

                &.content {
                    padding:20px;

                    @media screen and (min-width:768px) {
                        height:400px;

                        h2 {
                            font-size:1.75em;
                        }

                        p {
                            font-size:1.25em;
                        }
                    }
                }
            }
        }
    }

    .content {
        padding:30px 20px;

        h2 {
            font-weight:normal;
        }

        p {
            color:$black;
        }

        @media screen and (min-width:768px) {
            height:350px;
            float:right;
            width:41.6666%;
            padding:20px 30px;

            div {
                position:relative;
                top:50%;
                transform:translateY(-50%);
            }
        }
    }
}
