.section {
    &--full {
        p:not(.heading) {
            display:none;
            font-size:2em;
            margin:0 auto;
            padding:8% 0;
            width:90%;
            max-width:500px;
            color:$white;

            @media screen and (min-width:768px) {
                font-size:2.4em;
            }

            @media screen and (min-width:1024px) {
                display:block;
            }

            &:last-child {
                padding-bottom:15%;
            }
        }
    }

    h1,
    p.heading {
        height:100vh;

        > span {
            position:relative;
            top:50%;
            transform:translateY(-50%);
            display:block;

            span {
                display:block;
                font-size:.75em;
                line-height:1.2em;
                margin:.5em 0;

                &.mobile {
                    @media screen and (min-width:1024px) {
                        display:none;
                    }
                }
            }
        }
    }

    p.heading--small {
        font-size:2em;
    }

    p.heading--split {
        height:35vh;

        > span {
            top:28%;
        }

        @media screen and (min-width:768px) {
            height:100vh;

            > span {
                top:50%;
            }
        }
    }

    .right {
        p.heading > span {
            top:52%;

            @media screen and (min-width:768px) {
                top:53%;
            }
        }
    }
}
