.section {
    &--footer {

    }
    .footer {
        &__top {
            padding:60px 0;
            background:$grey;

            p {
                font-size:2.25em;
                color:$orange;
                text-align:center;
                padding:0 5%;
            }
        }
        &__bottom {
            background:$purple;

            > div {
                width:100%;
                max-width:500px;
                margin:0 auto;
                padding:30px 20px 20px 20px;
                position:relative;
            }

            p {
                color:$white;
                font-size:1.125em;

                &.copyright {
                    font-size:.875em;
                }

                a {
                    color:$white;
                    text-decoration:none;
                }
            }

            form {
                margin-bottom:10px;
                overflow:hidden;
                position:absolute;
                top:-20px;
                width:calc(100% - 40px);

                + p {
                    font-style:italic;
                    margin-bottom:2em;
                }
            }

            input {
                display:inline-block;
                margin:0;
                float:left;
                height:40px;

                &[type="text"] {
                    font-size:1.125em;
                    color:$grey-darker;
                    padding:5px;
                    width:80%;
                }

                &[type="submit"] {
                    border:0;
                    background:$orange;
                    color:$white;
                    width:20%;
                    line-height:40px;
                    vertical-align:middle;
                }
            }
        }
    }
}
