.section {
    overflow:hidden;
    position:relative;

    &--1a {
        //z-index:100;
        @media screen and (min-width:1025px) {
            background:url(../images/section--1a__bg.jpg) fixed left top no-repeat;
            background-size:cover !important;
            background-attachment:fixed !important;
        }
    }

    &--2a {
        //z-index:100;
        @media screen and (min-width:1025px) {
            background:url(../images/section--2a__bg.jpg) fixed left top no-repeat;
            background-size:cover !important;
            background-attachment:fixed !important;
        }
    }

    &--3a {
        //z-index:100;
        overflow:hidden;

        .left {
            background:$grey;
            display:none;
        }

        .right {
            background:url(../images/section--3a__bg--right.jpg) left top no-repeat;
            background-size:cover !important;

            &--2 {
                background-image:url(../images/section--3a__bg--right--2.jpg);
            }

            &--3 {
                background-image:url(../images/section--3a__bg--right--3.jpg);
            }

            &--4 {
                background-image:url(../images/section--3a__bg--right--4.jpg);
                background-position:center top;
            }
        }

        &#fix .left {
            display:block;
        }

        @media screen and (min-width:768px) {
            .left {
                height:100vh;
                float:left;
                width:58.25%;
                background:url(../images/section--3a__bg--left.jpg) left top no-repeat;
                background-size:cover !important;
                display:block;

                &.fixed {
                    position:fixed;
                    top:0;
                }
            }

            &.end-fixed .left {
                display:block;
            }

            .right {
                height:100vh;
                float:right;
                width:41.75%;
            }
        }
    }

    &--4a {
        //z-index:100;
        @media screen and (min-width:1025px) {
            background:url(../images/section--4a__bg.jpg) fixed left top no-repeat;
            background-size:cover !important;
            background-attachment:fixed !important;
        }
    }

    &--1 {
        //z-index:100;
        @media screen and (min-width:1025px) {
            background:url(../images/section--1__bg.jpg) fixed center center no-repeat;
            background-size:cover !important;
            background-attachment:fixed !important;
        }
    }

    &--3 {
        //z-index:90;
        @media screen and (min-width:1025px) {
            background:url(../images/section--3__bg.jpg) fixed center center no-repeat;
            background-size:cover !important;
            background-attachment:fixed !important;
        }
    }

    &--5 {
        //z-index:80;
        @media screen and (min-width:1025px) {
            background:url(../images/section--5__bg.jpg) fixed center center no-repeat;
            background-size:cover !important;
            background-attachment:fixed !important;
        }
    }
}
